.example-icon {
    padding: 0 14px;
}
.example-spacer {
    flex: 1 1 auto;
}
.mat-toolbar {
    background: rgb(48, 122, 211);
    color: #fff
}
.center {
    margin: auto;
    width: 90%;
    padding: 10px;
}

.demo-table {
    width: 100%;
}
  
.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}
  
.mat-row:hover .mat-cell {
  border-color: currentColor;
}
  
.demo-row-is-clicked {
  font-weight: bold;
}

.center-not-content {
  margin-top: 10%;
  display: flex;
  justify-content: center;
}